@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900,900italic,300);

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 88, 78);
}

header {
    font-family: "Alegreya Sans SC", Arial;
    font-size: 3vmin;
    color: darkblue;
    letter-spacing: .5vmin;
    text-align: center;
    margin: auto;
}

#restartBtn {
    background: none;
	color: darkslategrey;
    font-size: 2.5vmin;
	border: none;
	padding: 0;
	font-family: "Alegreya Sans SC", Arial;
	cursor: pointer;
	outline: inherit;
}

#board {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vmin;
    height: 95vmin;
    margin: auto;
    background-color: #ddc0ab;
    overflow: auto;
    border: 1px solid #4C3434;
    border-radius: 10px;
    padding-top: 2vmin;
    box-shadow: 2px 2px 5px 1px rgba(173, 173, 173, .37); 
    /* padding-left: vmin; */
}


.row, .win-row, .color-row {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0vmin;
    margin: auto;
    
}

.hints-container, .placeholder {
    display: grid;
    grid-template-columns: repeat(2, 1vmin);
    grid-template-rows: repeat(2, 1vmin);
    gap: 1vmin;
    margin-top: auto;
    min-width: 5vmin;
    /* min-height: -1vmin; */
    float: left;
    align-items: center;
    justify-content: center;
}

.guess, .win-sequence > div, .colors > div {
    margin-top: auto;
    width: 3vmin;
    height: 3vmin;
    float: left;
}

.guess, .colors > div, .win-sequence > div {
    border: solid;
    border-color: black;
    border-radius: 50%;
    border-width: thin;
    background-color: white;
    margin-left: .5vmin;
}


.hint {
    background-color: lightgrey;
    width: 1.5vmin;
    height: 1.5vmin;
    border: solid;
    border-color: black;
    border-radius: 50%;
    border-width: thin;
}


#blue {
    
    background-color: blue;
    
}
#pink {
    
    background-color: pink;
    
}
#yellow {
    
    background-color: yellow;
    
}
#green {
    background-color: green;
    
}
#red {
    
    background-color: red;
}
#orange {
    
    background-color: orange;
}

.colors {
    display: grid;
    grid-template-columns: repeat(3, 2vmin);
    grid-template-rows: repeat(2, 2vmin);
    width: 7vmin;
    gap: 2vmin;
    margin-bottom: 4vmin;
}

.win-sequence {
    border: 1px solid #555;
    border-radius: 10px;
    padding: .4vmin;
}

#restartBtn:hover{
    font-size: 3vmin;
    text-decoration: underline;
}

.colors > div:hover{
    width: 3.5vmin;
    height: 3.5vmin;
}

/* .guess:hover{
    width: 3.5vmin;
    height: 3.5vmin;
} */

#game-instructions {
    letter-spacing: .5vmin;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vmin;
    height: 95vmin;
    margin: auto;
    background-color: wheat;
    overflow: auto;
    border: 1px solid #4C3434;
    border-radius: 10px;
    padding-top: 2vmin;
    box-shadow: 2px 2px 5px 1px rgba(173, 173, 173, .37);
    position: absolute;
}

h1{
    font-family: "Alegreya Sans SC", Arial;
    font-size: 2vmin;
    font-weight: normal;
    color: navy;
}

#startBtn {
    background: none;
	color: darkslategrey;
    font-size: 2.5vmin;
	border: none;
	padding: 0;
	font-family: "Alegreya Sans SC", Arial;
	cursor: pointer;
	outline: inherit;
}

#startBtn:hover{
    font-size: 3vmin;
    text-decoration: underline;
}