* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 4vmin;
    color: darkblue;
    letter-spacing: 1vmin;
}

h1 {
    color: #a1d3ff;
    font-size: 3vmin;
}

/* #playBtn {
    width: 7vmin;
    height: 5vmin;
    border: solid;
    border-color: black;
    text-align: center;
    background-color: aliceblue;
    line-height: 2vmin;
} */

.row {
    padding: 5vmin;
}

.hints-container, .guess, #lastRow {
    margin-top: 5vmin;
    width: 4vmin;
    height: 4vmin;
    float: left;
}

.guess {
    border: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 2px;
    background-color: #a1d3ff;
    margin-left: 25px;
}

